{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script type="application/javascript">
        window.tiledeskSettings =
            {
                projectid: "63bc5131da23a2001b8abdbe"
            };
        (function (d, s, id) {
            var w = window;
            var d = document;
            var i = function () {
                i.c(arguments);
            };
            i.q = [];
            i.c = function (args) {
                i.q.push(args);
            };
            w.Tiledesk = i;
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.async = true;
            js.src = "http://localhost:8081/widget/launch.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'tiledesk-jssdk'));
    </script>

    <script>
        function logout(){
            for (let i = 0; i < localStorage.length; i++) {
                if(localStorage.key(i).startsWith("widget")){
                    localStorage.removeItem(localStorage.key(i));
                    i -= 1;
                }
            }
        }
    </script>

</head>
<body>
<p style="position: fixed; left: 20px; bottom: 0px;"><a href="{% url 'logout' %}" onclick='logout()'>خروج</a></p>
</body>
</html>