<!DOCTYPE html>
<html dir="center">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href= "{{ BASE_DIR }}/static/css/style.css">
  <title>{% block title %}Title{% endblock %}</title>
  <script>
    function logout(){
        for (let i = 0; i < localStorage.length; i++) {
            if(localStorage.key(i).startsWith("widget")){
                localStorage.removeItem(localStorage.key(i));
                i -= 1;
            }
        }
    }
    </script>
</head>
<body>
  <main id="box">
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>